.techniques {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto 0;
}

.section-title {
 /*Одинаковы с блоками из других секций*/
}

.section-subtitle {
  /*Одинаковы с блоками из других секций*/
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  column-gap: 100px;
}

.cards__item {
  width: 240px;
  text-align: center;
  padding-top: 60px;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  padding: 43px 0 16px;
}

.cards__description {
  margin: 0;
  padding: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}