.footer {
  display: flex;
  min-height: 350px;
  color: white;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}

.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  padding-right: 10px;
}