@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s linear infinite;
}

/*-----------Выше стили для вращения фигур----------*/

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
  z-index: 3;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 3;
}

.header__title {
  margin: 0;
  padding: 0;
  max-width: 730px;
  width: 100%;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin-left: 64px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  padding-top: 100px;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  max-width: 175px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.techniques {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto 0;
}

.section-title {
 /*Одинаковы с блоками из других секций*/
}

.section-subtitle {
  /*Одинаковы с блоками из других секций*/
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  column-gap: 100px;
}

.cards__item {
  width: 240px;
  text-align: center;
  padding-top: 60px;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  padding: 43px 0 16px;
}

.cards__description {
  margin: 0;
  padding: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 0;
}

.section-title {
/*Одинаковы с блоками из других секций*/
}

.section-subtitle {
/*Одинаковы с блоками из других секций*/
}

.video__iframes {
  display: flex;
  column-gap: 20px;
  position: relative;
  top: 50px;
}

.video__iframe {
  width: 513px;
  height: 316px;
}

.oakley {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 60px;
}
/*Одинаковы с блоками из других секций*/
/* В блок выше подключены стили из ПР1(ту-колумнс)*/

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
  max-width: 648px;
  width: 100%;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

.feynman__pic {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 636px;
  z-index: 1;
}

.digits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  padding-top: 100px;
  padding-bottom: 20px;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  list-style-type: none;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.khan {
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  margin: 0 auto 0;
  width: 80%;
}

.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  margin: 0;
  padding: 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-top: 50px;
}

.khan__quote-author {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  padding-top: 68px;
  align-items: flex-start
}

.khan__book-pic {
  width: 608px;
  height: 620px;
  padding-right: 48px;
}

.khan__buy-link {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
  overflow: hidden;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  margin-bottom: 20px;
  z-index: 2;
}

.section-subtitle_theme_dark {
  z-index: 2;
}

.table_theme_dark {
  padding-bottom: 90px;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.kaufman__triangle {
  background: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
  transform-origin: 58% 42%;
}

.resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title {
/*Одинаковы с блоками из других секций*/
}

.section-subtitle {
/*Одинаковы с блоками из других секций*/
}

.resources__logo-zone {
  padding-top: 80px;
  padding-bottom: 217px;
  width: 1100px;
  margin: 0 auto 0;
}

.resources__link {
/*Нет необходимых к применению стилей*/
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  display: flex;
  min-height: 350px;
  color: white;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}

.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  padding-right: 10px;
}

